<div class="container text-center">
    <h1> ¡Bienvenido! </h1>
    <h3> Puedes seleccionar tus productos </h3>
    <div class="container mt-5">
    <div class="row col-1 col-md-3">
        {{>producto}}
    </div>
</div>
</div>

