{{#each productos}}
<div class="card col-4" >
    <div class="card-body">
        <h5 class="card-title">{{this}}</h5>
    </div>
    <img src="/img/{{this}}.png" class="card-img-top" alt="{{this}}">
</div>
{{/each}}